*{
    margin: 0;
    padding: 0;
    font-family: "Bitter variant0", Tofu;
}

body{
    height: 100vh;
    text-align: center;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}


.container{
    flex-direction: column;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Hace que la barra de desplazamiento tome el color de fondo de la página web */
  }

  .jumbotron{
    background-color: #e3f2fd;
  }

  .card-body{
    background-color: #e3f2fd;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Ajusta la altura según tus necesidades */
    background-color: #e3f2fd; /* Ajusta el color de fondo según tus necesidades */
    color: #333; /* Ajusta el color del texto según tus necesidades */
    text-align: center;
    line-height: 50px; /* Ajusta el espaciado vertical según tus necesidades */
    padding: 5px;
  }

  .redes {
    /* text-decoration: none; */
    font-size: 25px;
    /* text-align: center; */
    /* background: #333; */
    color: #0B5ED7;
    /* border-radius: 50%; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); */
    transition: all .4s ease-in-out;
  }

  .redes:hover {
    transform: scale(1.2);
  }
  
