 {% extends "layout.html"%}
 {% block title %}{{ title }}{% endblock %}
 {% block content %}

 

  <div class="jumbotron p-4">
    <h1 class="display-4">Cipriano Escorche</h1>
    <figcaption class="blockquote-footer">
      <cite title="Título fuente" style="font-size: large;">(Adminsys, Project Manager, DBA, Desarrollador Fullstack.)</cite>
    </figcaption>    
    <p class="lead">
        Ingeniero en Informática y Licenciado en Contaduría Pública, con más de 
        10 años de experiencia en gerencia y auditoria de proyectos. Mi capacidad 
        de liderazgo, planificación, administración, programación y metodologías
        ágiles me permiten dirigir y gerenciar proyectos de alta importancia de 
        forma eficaz y efectiva. He liderado y auditado proyectos en diversas 
        áreas, como la implementación de sistemas de información, la 
        automatización de procesos contables y financieros, y la mejora de la 
        eficiencia operativa en empresas.
    </p>
    <hr class="my-4" />
    <p>
    <strong>Conáctame:</strong>  +58 (424)234-34-97/(424)133-16-28
    <strong>Email:</strong> Ciprianoescorche@gmail.com
    </p>
    <a class="btn btn-primary btn-lg" href="/projects" role="button">Echa un vistaso a mis proyectos </a>
    
  </div>

{%endblock%}

