{% extends "layout.html"%}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1>Projects Page</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Proyecto #1</h5>
          <p class="card-text">Descripcion detallada del proyecto(tecnologias usadas, frameworks, bases de datos, etc).</p>
          <a href="#" class="btn btn-primary">Ve al proyecto</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Proyecto #2</h5>
          <p class="card-text">Descripcion detallada del proyecto(tecnologias usadas, frameworks, bases de datos,etc).</p>
          <a href="#" class="btn btn-primary">Ve al proyecto</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Proyecto #3</h5>
            <p class="card-text">Descripcion detallada del proyecto(tecnologias usadas, frameworks, bases de datos,etc).</p>
            <a href="#" class="btn btn-primary">Ve al proyecto</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Proyecto #4</h5>
            <p class="card-text">Descripcion detallada del proyecto(tecnologias usadas, frameworks, bases de datos,etc).</p>
            <a href="#" class="btn btn-primary">Ve al proyecto</a>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2" > <a href="/" class="btn btn-primary btn-lg mt-4">Ir a la página de inicio</a></div>
      
  </div>

{%endblock%}